<h1><%= title %>: <%= bookinstance.book.title %> : <%= bookinstance.status %></h1>


  <p>Do you really want to delete this book?</p>

  <form method="POST">
    <div class="form-group">
      <input id="bookinstanceid" class="form-control" type="hidden" name="bookinstanceid" value="<%= bookinstance._id %>">
    </div>
    <button class="btn btn-primary" type="submit">Delete</button>
  </form>

